@import "../bower_components/webnext-ui/build/export";

html {
	// height: 100%;
	font-size: 1em;
}

body {
	font-size: 1em;
	// height: 100%;
	background-image: url("../img/bitcoin-code-1280-lite.jpg");
	background-position: center left;
	background-size: cover;
}

.header {
	color: #fff;
	min-height: 10em;

	.wrapper {
		max-width: 60em;
		margin: 0 auto;
	}

	h1 {
		margin: 0;
		padding: 1.6em 2em;
		text-shadow: #111 0 0 2em;
	}
}

.pitch {
	background-color: #fff;
	box-shadow: #111 0 0.6em 6em;

	.wrapper {
		// min-height: 30em;
		max-width: 60em;
		margin: 0 auto;
		padding: 6em 6em 7em;
	}
}

.email-list {
	min-height: 28em;
	padding: 4em;

	.wrapper {
		max-width: 50em;
		margin: 0 auto;
		box-shadow: #111 0 0.8em 6em;
	}
}