@import "../bower_components/webnext-ui/build/export";

html {
	// height: 100%;
	font-size: 1em;
}

body {
	font-size: 1em;
	// height: 100%;
	background-image: url("../img/bitcoin-code-1280-lite.jpg");
	background-position: center left;
	background-size: cover;
}

.header {
	color: #fff;
	min-height: 10em;

	.wrapper {
		max-width: 60em;
		margin: 0 auto;
	}

	h1 {
		margin: 0;
		padding: 1.6em 2em;
		text-shadow: #111 0 0 2em;
	}
}

.pitch {
	background-color: #fff;
	box-shadow: #111 0 0.6em 6em;

	.wrapper {
		// min-height: 30em;
		max-width: 56em;
		margin: 0 auto;
		padding: 3em 3em 4em;
	}
}

.meta-wrapper {
	background-color: #fff;
	box-shadow: #111 0 0.6em 6em;

	.stream {
		max-width: 56em;
		margin: 0 auto;
		padding: 2em;

		iframe {
			width: 100%;
			min-height: 32em;
			border: none;
		}
	}
}

.meta-wrapper2 {
	min-height: 28em;
	padding: 2em 4em 4em;

	.button-wrapper {
		max-width: 23em;
		margin: 0 auto;
		padding: 1em 1em 3em;

		.b-blue {
			box-shadow: #111 0 0.8em 6em;
		}

		a {
			color: #fff;
			text-decoration: none;
		}
	}

	.chat {
		max-width: 56em;
		margin: 0 auto;
		// padding: 1em 3em 3em;
		box-shadow: #111 0 0.8em 6em;
		background-color: #fff;

		iframe {
			width: 100%;
			min-height: 30em;
			border: none;
			padding: none;
			background-color: #fff;
		}
	}
}

.email-list {
	min-height: 28em;
	padding: 4em;

	.wrapper {
		max-width: 50em;
		margin: 0 auto;
		box-shadow: #111 0 0.8em 6em;
	}
}

.email-list.live {
	min-height: 28em;
	padding: 4em 4em 2em;
	background-color: #fff;
	box-shadow: #111 0 0.6em 6em;

	.wrapper {
		max-width: 50em;
		margin: 0 auto;
		box-shadow: none;
	}
}