doctype html
html.no-js(lang='en')
	include config
	head
		include head
		block head
			+title('Index')
			+description('The index page')

		link(rel='stylesheet', type='text/css', href='//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css')

		link(rel='stylesheet', type='text/css', href='//fonts.googleapis.com/css?family=Cinzel|Lusitana')

		link(rel='stylesheet', type='text/css', href='bower_components/hint.css/hint.min.css')

		block styles
			link(rel='stylesheet', type='text/css', href='css/main.css')
		//if lt IE 9
			script(src='bower_components/html5shiv/dist/html5shiv-printshiv.min.js')
	body
		include chromeframe
		.fouc-loading(style='padding: 0.5em 1.5em;')
			p loading
			p If the site takes longer than 15 seconds to load something may have gone wrong (is javascript enabled?)
		//- fouc-loading
		.fouc-content(style='display: none;')
			.main-wrapper
				header
					| &zwnj;
					block header
						h1 the book of satoshi
						h3 The Collected Writings of Bitcoin Creator Satoshi Nakamoto
				main
					block main
						article
							h1 Article Title
							p Lorem ipsum
		//- fouc-content
		block scripts-special
			script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
			script
				window.jQuery || document.write('<script src="bower_components/jquery/dist/jquery.min.js"><\/script>');
			script(src='js/util/normalizeLoader.js')
			script(src='js/util/fouc.js')
		block scripts
		include analytics