extends jade/template

block head
	+title()
	+description()

block main
	section
		nav
			p
				a(href="#").unl.active Home
				|  &nbsp; 
				a(href="about/").unl.blue About
				|  &nbsp; 
				a(href="http://bookofsatoshi.blogspot.com/").unl.blue Blog
				|  &nbsp; 
				a(href="../contact/").unl.blue Contact Us
				|  &nbsp; 
				a(href="index/").unl.blue Book Link Index
				|  &nbsp; 
				a(href="extra/").unl.blue Extra
	hr

	.container-fluid
		.row
			.col-md-8
				section
					h3.text-center Learn about Bitcoin and its early history
					| &nbsp;
					p Have you, like the rest of the world, speculated as to the identity of Satoshi Nakamoto, anonymous creator of Bitcoin? 
					p The world’s first cryptocurrency, Bitcoin went online in 2009 and has since revolutionized our concepts of currency and money. Not supported by any government or central bank, completely electronic, Bitcoin is a virtual currency based on advanced cryptographic systems. 
					p Like the currency he created, the identity of Bitcoin’s creator Satoshi Nakamoto is virtual, existing only online. The Nakamoto persona, which may represent an individual or a group, exists only in the online publications that introduced and explained Bitcoin during its earliest days. Here, collected and professionally published for the first time are the essential writings that detail Bitcoin’s creation. Included are
					ul 
						li Satoshi Nakamoto Emails and Posts on Computer Forums Presented in Chronological Order
						li Bitcoin Fundamentals Presented in Layman’s Terms
						li Bitcoin’s Potential and Profound Economic Implications
						li The Seminal Paper Which Started It All
					p The Book of Satoshi provides a convenient way to parse through what Bitcoin’s creator wrote over the span of the two years that constituted his “public life" before he disappeared from the Internet . . . at least under the name Satoshi Nakamoto. Beginning on November 1st 2009 with the publication of the seminal paper describing Bitcoin, this public life ends at about the time PC World speculated as to a possible link between Bitcoin and WikiLeaks, the infamous website that publishes leaked classified materials. Was there a connection? You be the judge.
					p Nakamoto’s true identity may never be known. Therefore the writings reproduced here are probably all the world will ever hear from him concerning Bitcoin’s creation, workings, and theoretical basis. Want to learn more about Bitcoin? Go directly to the source—the writings of the creator himself, Satoshi Nakamoto!
					| &nbsp;
					| &nbsp;
					//- p.lead.text-center Get Your Book Now!
					img(src="img/coffee-softcover-lite.jpg").coffee-softcover.home
					| &nbsp;
					

			.col-md-4
				p
					a(href="https://twitter.com/bookofsatoshi").btn.btn-primary.btn-lg.btn-block Follow Us On Twitter

				section.book-cover
					img(src="img/book-front-cover-image-lite.jpg")
					h3.text-center 394 Pages
				| &nbsp;

				section.download-btns
					a(href="buy/").blue.buy.hardcover.btn.btn-default.btn-lg.btn-block Buy Hardcover<wbr />/Softcover
					a.blue.download.pdf.btn.btn-default.btn-lg.btn-block.strike Download Free PDF
					a.blue.download.epub.btn.btn-default.btn-lg.btn-block.strike Download Free epub
					//- a.blue.download.epub.btn.btn-default.btn-lg.btn-block
					//- 	span.strike Download epub
					//- 	|  
					//- 	.label.label-default Coming Soon

				| &nbsp;
						
				section.support#donate
					.panel.panel-primary
						.panel-heading
							.panel-title
								.text-center Donate Bitcoins
						.panel-body
							p
								a(href="bitcoin:1GaMmGRxKCNuyymancjmAcu3mvUnVjTVmh").blue.btn.btn-default 1GaMmGRxKCNuyymanc<wbr />jmAcu3mvUnVjTVmh
							//- p.qr-img#btc-qr
							img(src="img/btc-qr.png", style='width: 100%;')

	//- | &nbsp;

	//- section.support#donate
	//- 	.panel.panel-primary
	//- 		.panel-heading
	//- 			.panel-title
	//- 				.text-center Donate Bitcoins
	//- 		.panel-body
	//- 			p
	//- 				a(href="bitcoin:1GaMmGRxKCNuyymancjmAcu3mvUnVjTVmh").blue.btn.btn-default 1GaMmGRxKCNuyymanc<wbr />jmAcu3mvUnVjTVmh
	//- 			//- p.qr-img#btc-qr
	//- 			img(src="img/btc-qr.png", style='width: 100%;')

				

block scripts
	//- script(src='js/main.js')