extends ../jade/template

block head
	+title()
	+description()

block main
	section
		nav
			p
				a(href="../").unl.blue Home
				|  &nbsp; 
				a(href="../about/").unl.blue About
				|  &nbsp; 
				a(href="../contact/").unl.blue Contact Us
				|  &nbsp; 
				a(href="http://bookofsatoshi.blogspot.com/").unl.blue Blog
				|  &nbsp; 
				a(href="../media/").unl.blue Media
				|  &nbsp; 
				//- a(href="../event/sidechain/").unl.blue Event
				|  &nbsp; 
				a(href="#").unl.active Extra
				|  &nbsp; 
				a(href="../index/").unl.blue Book Link Index
	hr
	h1.text-center Extra
	section
		h3 Other Publications By The Author, Phil Champagne
		ul
			li
				a(href="sidechain-paper/") A possible side chain without Bitcoin Software modification
			li
				a(href="sidechain-pptx/") A possible side chain without Bitcoin Software modification (Cryptolina Presentation Slides)

	| &nbsp;
	| &nbsp;
