extends ../jade/template

block head
	+title()
	+description()

block main
	section
		nav
			p
				a(href="../").unl.blue Home
				|  &nbsp; 
				a(href="../about/").unl.blue About
				|  &nbsp; 
				a(href="#").unl.active Contact Us
				|  &nbsp; 
				a(href="http://bookofsatoshi.blogspot.com/").unl.blue Blog
				|  &nbsp; 
				a(href="../media/").unl.blue Media
				|  &nbsp; 
				a(href="../event/sidechain/").unl.blue Event
				|  &nbsp; 
				a(href="../extra/").unl.blue Extra
				|  &nbsp; 
				a(href="../index/").unl.blue Book Link Index
	hr

	section.contact
		.panel.panel-info
			.panel-heading
				.panel-title Contact Us
			.panel-body
				.form-horizontal(role='form')
					.form-group
						label.col-sm-2.control-label Email
						.col-sm-10
							span.form-control#bos-email bookofsatoshi@gmail.com


	| &nbsp;
