doctype html
html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title Redirecting...
	body
		noscript
			p Redirecting...
			p If the page does not redirect 
				a(href="https://www.coinlock.com/#/d#AD8AYgBsAG8AYgA9ADEAMgA3ADcANwA3ADcAMAA0ADEAXwBWAFMAaAA3AE8AZgA1AG4AbABSAGgASAA4AGkAMQBHAGYAVAA3AE0AaQB3ACYAYwBvAGQAZQA9AGwAMwBoAHIAcgB1AGQAaQAmAHMAPQA4ADAANgBhAGUAZQBlADYAZABhADIAYgBkADcAZgA5ACYAZgBpAGwAZQA9AEIATwBPAEsAJQAyADAATwBGACUAMgAwAFMAQQBUAE8AUwBIAEkAJQAyADAALQAlADIAMABFAEIATwBPAEsALgB6AGkAcAAmAHIAPQAx") click here

		script
			window.onload = function () {
				window.location = "https://www.coinlock.com/#/d#AD8AYgBsAG8AYgA9ADEAMgA3ADcANwA3ADcAMAA0ADEAXwBWAFMAaAA3AE8AZgA1AG4AbABSAGgASAA4AGkAMQBHAGYAVAA3AE0AaQB3ACYAYwBvAGQAZQA9AGwAMwBoAHIAcgB1AGQAaQAmAHMAPQA4ADAANgBhAGUAZQBlADYAZABhADIAYgBkADcAZgA5ACYAZgBpAGwAZQA9AEIATwBPAEsAJQAyADAATwBGACUAMgAwAFMAQQBUAE8AUwBIAEkAJQAyADAALQAlADIAMABFAEIATwBPAEsALgB6AGkAcAAmAHIAPQAx";
			}

		include ../../jade/analytics