doctype html
html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title Redirecting...
	body
		noscript
			p Redirecting...
			p If the page does not redirect 
				a(href="https://www.coinlock.com/#/d#AD8AYgBsAG8AYgA9ADEAMAA2ADUANgA3ADEAMQA0ADEAXwB2ADIAWABnAG0AWQBwAFAAeQBaAHAAbgBfAHcAbABrAHUATABVADUAVABBACYAYwBvAGQAZQA9AGMANwBqAHAAcAA2ADYAcgAmAHMAPQBhADgAZAA0AGUAMwAyAGUAMQBlAGEAOQA3ADkAYwBlACYAZgBpAGwAZQA9AEIATwBPAEsAJQAyADAATwBGACUAMgAwAFMAQQBUAE8AUwBIAEkAJQAyADAALQAlADIAMABFAEIATwBPAEsALgB6AGkAcAAmAHIAPQAx") click here

		script
			window.onload = function () {
				window.location = "https://www.coinlock.com/#/d#AD8AYgBsAG8AYgA9ADEAMAA2ADUANgA3ADEAMQA0ADEAXwB2ADIAWABnAG0AWQBwAFAAeQBaAHAAbgBfAHcAbABrAHUATABVADUAVABBACYAYwBvAGQAZQA9AGMANwBqAHAAcAA2ADYAcgAmAHMAPQBhADgAZAA0AGUAMwAyAGUAMQBlAGEAOQA3ADkAYwBlACYAZgBpAGwAZQA9AEIATwBPAEsAJQAyADAATwBGACUAMgAwAFMAQQBUAE8AUwBIAEkAJQAyADAALQAlADIAMABFAEIATwBPAEsALgB6AGkAcAAmAHIAPQAx";
			}

		include ../../jade/analytics