extends ../jade/template

block head
	+title()
	+description()

block main
	section
		nav
			p
				a(href="../").unl.blue Home
				|  &nbsp;
				a(href="../about/").unl.blue About
				|  &nbsp;
				a(href="../contact/").unl.blue Contact Us
				|  &nbsp;
				a(href="../index/").unl.blue Book Link Index
	hr

	section
		h2.text-center Buy Hardcover/Softcover
		| &nbsp;
		.container-fluid
			.row
				.col-md-4
					h3.text-center North America
					table.table.table-striped.table-bordered.table-hover
						tr
							td 
								a(href="http://www.amazon.com/The-Book-Of-Satoshi-Collected/dp/0996061312/") Amazon.com (USA)
						tr
							td
								a(href="http://www.amazon.ca/The-Book-Satoshi-Collected-Writings/dp/0996061312/") Amazon.ca (Canada)
				.col-md-4
					h3.text-center Europe
					table.table.table-striped.table-bordered.table-hover
						tr
							td 
								a(href="http://www.amazon.co.uk/The-Book-Satoshi-Collected-Writings/dp/0996061312/") Amazon.co.uk (UK)
						tr
							td
								a(href="http://www.amazon.fr/The-Book-Of-Satoshi-Collected/dp/0996061312/") Amazon.fr (France)
						tr
							td
								a(href="http://www.amazon.de/The-Book-Of-Satoshi-Collected/dp/0996061312/") Amazon.de (Germany)
						tr
							td
								a(href="http://www.amazon.es/The-Book-Satoshi-Collected-Writings/dp/0996061312/") Amazon.es (Spain)
						tr
							td
								a(href="http://www.amazon.it/The-Book-Of-Satoshi-Collected/dp/0996061312/") Amazon.it (Italy)
				.col-md-4
					h3.text-center Asia
					table.table.table-striped.table-bordered.table-hover
						tr
							td 
								a(href="http://www.amazon.in/The-Book-Of-Satoshi-Collected/dp/0996061312/") Amazon.in (India)


block scripts
	//- script(src='js/main.js')