doctype html
html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title Redirecting...
	body
		noscript
			p Redirecting...
			p If the page does not redirect 
				a(href="../../") click here

		script
			window.onload = function () {
				window.location = "../../";
			}

		include ../../jade/analytics