doctype html
html(lang='en')
	include ../../jade/config
	include ../../jade/mixins
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		+title('A Sidechain implementation without Bitcoin protocol modification')
		+description('')

		link(rel='stylesheet', type='text/css', href='//fonts.googleapis.com/css?family=Libre+Baskerville|Oxygen')
		link(rel='stylesheet', type='text/css', href='/css/event.css')

		//if lt IE 9
			script(src='/bower_components/html5shiv/dist/html5shiv-printshiv.min.js')
	body
		include ../../jade/chromeframe

		main
			.header.t-formal
				.wrapper
					h1.t-align-center A Sidechain implementation without Bitcoin protocol modification
			section.pitch
				.wrapper
					p 
						strong Friday, August 28nd 2014 at 8 PM EDT

					p Online event only at this page

					p Phil Champagne will be presenting live the talk he has given at Cryptolina Expo 2014. This open invitation will give anyone interested the opportunity to watch the presentation and participate in the Q&amp;A session at the end.

					p The presentation will discuss a theoretical strategy to implement a sidechain utilisation without any modification of the Bitcoin software protocol. This type of sidechain could have major implications for the expansion of the blockchain beyond the recording of currency transactions.  It will open up a vast array of application for new business opportunities and innovative tools and services to explore.

					//- p
					//- 	strong From a personal email exchange between Phil Champagne and Adam Draper: 

					//- p 
					//- 	strong "I think it is almost time for this type of tech, so if you have the ability to build it, definitely go for it." 

					//- p.t-align-right
					//- 	strong - Adam Draper &nbsp;

					p So, we would like to invite all developers interested to participate in the implementation of this project and entrepreneurs interested by all the consequent social implications to watch this presentation.

					p Hope to see you there!

			//- section.stream
			//- 	//- 
			//- section.chat
			//- 	//- 
			//- section.email-list
				.wrapper
					#mc_embed_signup
						form#mc-embedded-subscribe-form.validate(action='http://WrenInvestment.us4.list-manage.com/subscribe/post?u=505be1adb429cbb4006efe075&id=5ca74502fd', method='post', name='mc-embedded-subscribe-form')
							h3 Sign up to be alerted to future presentations
							.indicates-required
								span.asterisk *
								| indicates required
							.mc-field-group
								label(for='mce-FNAME')
								| First Name
								span.asterisk *
								br
								br
								input#mce-FNAME.required(type='text', name='FNAME', value='')
							.mc-field-group
								label(for='mce-EMAIL')
								| Email Address
								span.asterisk *
								br
								br
								input#mce-EMAIL.required.email(type='email', name='EMAIL', value='')
							#mce-responses.clear
							.clear
								input#mc-embedded-subscribe.button(type='submit', name='subscribe', value='Subscribe')


		//- script(src='/bower_components/zepto/zepto.min.js');

		//- script(src='/js/main.js')

		include ../../jade/analytics